# Dependencies saved to package.json using --save, --save-dev or --save-optional
# will be configured with an exact version rather than using npm’s default
# semver range operator. It is a secure solution to avoid accidentally updating
# a package that could potentially cause errors.

save-exact = true
